body{
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.about-me {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 95%;
  align-items: center;
  font-size: 1.3em;
  padding: 15px;
  margin: auto;
}

.first-container {
  height: 100vh;
  background: linear-gradient(311deg, #000000, #f3f2f2, #42466c);
    background-size: 600% 600%;
   animation: AnimationName 15s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}

.second-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  height: 90vh;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  max-width: 350px;
  border-radius: 10px;
  padding: 15px;
  flex-grow: 1;
  justify-content: center;
  background-color: white;
}

.third-container {
  max-width: 100vw;
}

.grid-nest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-template-areas: 
    "img-1 content-1" 
    "img-2 content-2" 
    "img-3 content-3" 
    "img-4 content-4";
}

.img-1 {
  grid-area: img-1;
}

.img-2 {
  grid-area: img-2;
}

.img-3 {
  grid-area: img-3;
}

.img-4 {
  grid-area: img-4;
}

.content-1 {
  grid-area: content-1;
}

.content-2 {
  grid-area: content-2;
}

.content-3 {
  grid-area: content-3;
}

.content-4 {
  grid-area: content-4;
}

.fourth-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #8be8cc;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}

h3 {
  color: #8be8cc;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}

.first-header {
  margin: 3.2em 0 0 0;
  font-size: 5em;
}

.second-header{
  font-size: 4em;
}

ul {
  line-height: 30px;
  
}

.hobbies {
  max-width: 250px;
  padding-bottom: 10px;
}

.center {
  margin-right: 20px;
}

.column:hover {
  transform: scale(1.2);
}

.pro-img {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.link-holder {
  display: flex;
  justify-content: space-around;
  
}


@media screen and (max-width: 700px) {
  .grid-nest {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-template-areas: 
    "img-1"
    "content-1" 
    "img-2"
    "content-2" 
    "img-3"
    "content-3" 
    "img-4"
    "content-4";
  }
}

@media screen and (max-width: 700px) {

}